{{!
    @template core/login_panel
    Logo lambang di panel kiri login.
}}
{{#logourl}}
    <div class="ush-login-panel__logowrap">
        <img class="ush-login-panel__logo" src="{{logourl}}" alt="{{sitename}}">
    </div>
{{/logourl}}
