{{!
    @template core/login_layout
    Split-screen login LMS USH.
}}
<div id="page-content" class="min-vh-100 row g-0">
    {{#showleftpanel}}
    <aside class="login-layout-left col-lg-6 d-none d-lg-flex">
        <div class="login-layout-left-content ush-login-panel">
            <p class="ush-login-panel__title">LMS USH</p>
            {{> theme_academi/core/login_panel }}
        </div>
    </aside>
    {{/showleftpanel}}
    <div id="region-main" class="login-layout-right {{#showleftpanel}}col-12 col-lg-6{{/showleftpanel}}{{^showleftpanel}}col-12{{/showleftpanel}}">
        <div id="region-main-box" class="login-layout-right-content">
            <div class="login-container">
                {{{ output.main_content }}}
            </div>
        </div>
    </div>
</div>
